@font-face {
  font-family: "Play";
  src: url(../public/fonts/Play-Bold.ttf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-family: "Play";

}
.CRM_CONT {
  width: 360px;
  height: 6924px;
  border: 1px solid;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
  background-color: gold;
}
.pagecrm_block1 {
  background-repeat: no-repeat;
  background-size: 1000px 3163px;
  position: relative;
  width: 360px;
  height: 500px;
  left: -11.24px;
  z-index: 12;
  margin-bottom: 75px;
}
.pagecrm_header {
  display: flex;
  position: relative;
  width: 328px;
  height: 16.03px;
  gap: 137px;
  top: 16px;
  left: 16px;
}
.pagecrm_header div {
  color: white;
  width: 90px;
  height: 13px;
  font-family: Play;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.31px;
  text-align: left;
}
.pagecrm_navigation {
  display: flex;
  position: relative;
  width: 328px;
  height: 44px;
  top: 15px;
  left: 16px;
  justify-content: space-between;
  padding-right: 5px;
}

.gamburger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 5px 0px 5px 0px;
  top: 5px;
}
.pagecrm_breadcrumps {
  display: flex;
  width: 300px;
  height: 36px;
  margin-top: 10px;
  padding-left: 15px;
}
.pagecrm_breadcrumps span {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #e9deff;
  margin: 12px 0px 12px 0px;
}
.pagecrm_breadcrumps span:not(:first-child)::before {
  content: url(../public/img/Стрелка.svg);
  width: 5px;
  height: 8.73px;
  margin: 0px 5px 0px 5px;
}
.pagecrm_breadcrumps span:last-child {
  text-shadow: 3px 2px 8px rgb(168, 61, 149);
}
.searchbartextarea {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(46, 51, 90, 0.3) 0%,
    rgba(28, 27, 51, 0.3) 100%
  );
  border-radius: 25px;
  width: 281px;
  height: 25px;
  top: 10px;
  border: 1px solid;
  padding: 0px 0px 0px 10px;
  resize: none;
  margin-left: 8px;
}
.pagecrm_titleCRM span {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
  text-shadow: 3px 2px 8px rgb(168, 61, 149);
}
.pagecrm_background_img {
  background-image: url(../public/img/background.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 700px 250px;
  position: relative;
  width: 700.79px;
  height: 250px;
  z-index: -1;
  left: -90px;
  top: -10px;
}
.pagecrm_background_img2 {
  margin: 0 auto;
  position: relative;
  bottom: 230px;
}
.pagecrm_btn {
  display: inline;
  position: relative;
  bottom: 230px;
  padding: 10px 40px 10px 40px;
  background: rgba(177, 149, 255, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(215, 149, 255, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.2px;
  color: white;
  width: 129px;
  height: 16px;
  border-radius: 30px;
  border: 3px solid;
  border-color: linear-gradient(0deg, #5e17eb 0.08%, #e5097f 155.74%);
}
.pagecrm_block2 {
  width: 340px;
  height: 405px;
  margin-bottom: 75px;
}
.pagecrm_title2 {
  width: 340px;
  height: 60px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
.container_for_pictures {
  width: 340px;
  height: 325px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pagecrm_pictures {
  width: 170px;
  height: 145px;
  margin-bottom: 10px;
}
.container_for_pictures span {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  width: 170px;
  height: 60px;
  line-height: 20px;
  text-align: center;
}
.pagecrm_pictures:nth-last-child(-n + 2) {
  height: 160px;
}

.pagecrm_block3 {
  width: 340px;
  height: 400px;
  margin-bottom: 75px;
}
.partners1 {
  display: flex;
  justify-content: flex-end;
  width: 340px;
  height: 190px;
  border-radius: 10px;
  background-image: url(../public/img/Б24.svg);
  background-repeat: no-repeat;
  background-size: 170px 190px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px 0px #d795ff;
}
.partners2 {
  display: flex;
  justify-content: flex-end;
  width: 340px;
  height: 190px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-image: url(../public/img/Б242.svg);
  background-repeat: no-repeat;
  background-size: 170px 190px;
  box-shadow: 0px 0px 20px 0px #d795ff;
}
.partners_content1 {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 190px;
  padding: 10px 10px 20px 10px;
  gap: 10px;
  border-radius: 0px 10px 10px 0px;
  background: #48057280;
}
.partners_content2 {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 190px;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 10px 20px 10px;
  gap: 10px;
  background: #48057280;
}
li {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  text-align: left;
  font-size: 0.8rem;
  font-family: Play;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
}
li::marker {
  content: url(../public/img/Галка.svg);
}
.itme {
  text-align: left;
  color: #b195ff;
}
li img {
  margin-right: 7px;
}
.pagecrm_block4 {
  width: 340px;
  height: 612px;
  padding: 44px 15px 44px 15px;

  border-radius: 30px;
  background: #4805727d;
  box-shadow: 0px 0px 10px 0px #9662ff;
  margin-bottom: 75px;
  color: white;
  border: 3px solid transparent;
  border-radius: 30px;
  background: 
/* padding-box, чтобы он не рисовался под рамкой */ linear-gradient(
        rgb(126, 17, 172),
        rgb(104, 27, 142)
      )
      padding-box,
    /* border-box, чтобы он начинался под рамкой */
      linear-gradient(45deg, #ff52e5, #f6d242) border-box;
}
.titlee {
  width: 286px;
  height: 30px;
  top: 44px;
  left: 18.28px;
  font-family: play;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.4000000059604645px;
  text-align: center;
  color: #9662ff;
}
.conten_pagecrm4 {
  display: block;
  width: 303px;
  height: 40px;
  font-family: play;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.flex_box {
  display: flex;
  flex-direction: column;
}
.flex_box textarea {
  overflow: hidden;
  padding: 20px;
  resize: none;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 3px solid transparent;
  background: linear-gradient(rgb(190, 39, 255), rgb(169, 137, 185)) padding-box,
    linear-gradient(45deg, #ff52e5, #f6d242) border-box;
}
.pagecrm_btn2 {
  color: white;
  width: 307px;
  height: 59px;
  border: 1px solid black;
  border-radius: 10px;
  background: #1e0044;
  color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px #9662ff;
  margin: 20px 0px 20px 0px;
}
::placeholder {
  color: white;
}
